.nav-content {
    position: relative;
}

.nav-content .nav-content-item {
	/*display: none;*/
    position: absolute;
}

.money-exchange-container .container > h1:first-child {
    text-align: center;
}

.money-exchange-container .container:nth-child(2n) {
    margin-top: 40px;
}


.contacts-container .container > h1:first-child {
    text-align: center;
    margin-bottom: 50px;
}

.contacts-container img.media-object {
    width: 64px;
    height: 64px;
}

.contacts-container .media {
    padding: 10px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.contacts-container .media:hover {
    background-color: rgba(0,0,0,.1);
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}

.contacts-container .media span {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}

.list-group {
    list-style: none;
}